<%= form_for(@single_game) do |f| %>
  <% if @single_game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@single_game.errors.count, "error") %> prohibited this single_game from being saved:</h2>

      <ul>
      <% @single_game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player %><br />
    <%= f.text_field :player %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
