<h1><p id="notice"><%= notice %></p></h1>
<center>

  <h1>Player:</h1>
  <h2><%= @single_game.player %></h2>

  <h1>Location:</h1>
  <h2><%= @single_game.location %></h2>

  <%= render :partial => 'map' %>
<%= link_to 'Back', single_games_path %>
