<!DOCTYPE html>
<html>
  <head>
    <title> "Locations" </title>
    <%= stylesheet_link_tag 'gmaps4rails' %>
  </head>
  <center>
  <body>

    <table>
      <tr>
        <th>Address</th>
        <th>Latitude</th>
        <th>Longitude</th>
      </tr>
      <% for location in @locations %>
        <tr>
          <td><%= location.address %></td>
          <td><%= link_to "Remove", location, :confirm => 'Are you sure?', :method => :delete %></td>
          <td><% if location.address ==physical_address || location.address == venue || location.latitude % lat < 0.05 && location.longitude % lng < 0.05 %>
                        Complete
              <% else %>
                        Incomplete
              <% end %>
          </td>
        </tr>
      <% end %>
      <br>

      <div class= 'gmaps4rails_map'>
        <%= gmaps4rails(@json) %>
      </div>
      <br>
      <%= link_to "Add Location", new_location_path %>
  </center>
  </body>
</html>
